# Argilla
ARGILLA_USERNAME=argilla
ARGILLA_PASSWORD=myanmar123

# Label Studio
LABEL_STUDIO_USERNAME=admin@myanmar-asr.local
LABEL_STUDIO_PASSWORD=myanmar123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# MLflow
MLFLOW_S3_ENDPOINT_URL=http://localhost:9002
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123

